.Select {
  cursor: pointer;
}

.Selected {
  border: 1px solid black;
  padding: 5px;
}

.Items {
  position: relative;
  top: -1px;
  border: 1px solid black;
  padding: 5px;
}

.Item:hover {
  background-color: lightblue;
}